<h1>Plays</h1>

<form id="addplay" method="post" action="/addplay">
	<label for="songName">Song Name:</label>
	<select name="songName" id="songName" required>
		<option disabled selected value> -- select an option -- </option>
		{{#each songs}}
			<option value="{{this.song_id}}">{{this.song_name}}</option>
		{{/each}}
	</select>
	<input type="submit" value="Add Play">
</form>


<h3>Song Play Statistics</h3>

<table>
	<tr>
		<th>Song</th>
		<th>Plays</th>
		<th>Last Played</th>
	</tr>
	{{#each playCounts}}
	<tr>
		<td>{{this.song_name}}</td>
		<td>{{this.num_plays}}</td>
		<td>{{this.last_played}}</td>
		<td> 
			<form action="/addPlay/{{this.song_id}}" method="post">
        		<input type="submit" value="Add Play"/>
    		</form>
		</td>
	</tr>
	{{/each}}

</table>

<h3>All Plays Data</h3>

<table>
	<tr>
		<th>Song</th>
		<th>PlayTime</th>
	</tr>
	{{#each playsAll}}
	<tr>
		<td>{{this.song_name}}</td>
		<td>{{this.play_time}}</td>
		<td> 
			<form action="/playDelete/{{this.play_id}}" method="post">
        		<input type="submit" value="Delete"/>
    		</form>
		</td>
	</tr>
	{{/each}}
</table>